$blue: #E5E7E9;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron{
    background-color: $blue;
    color: #212F3C;
    @include margenes(50px, 20px);
}

footer {
    padding: 10px 10px 0px 10px;
    background-color: $blue;
    color: #212F3C;
    @include margenes(10px, 20px);
}

#contenedor{
    background: url(../image/pexels-raine-nectar-413274.jpg) no-repeat center ;
    background-size: cover;
    min-height: 35vh;
    color: white;
}

#introduccion{
    background-color: transparent !important;
}

.card-hotel{
    flex: 1 300px;
    margin-top: 10px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.tab-content{
  padding-top: 10px;
}
