.jumbotron {
  background-color: #E5E7E9;
  color: #212F3C;
  margin-top: 50px;
  margin-bottom: 20px; }

body{
  background: #83a4d4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

footer {
  padding: 10px 10px 20px 10px;
  background-color: #E5E7E9;
  color: #212F3C;
  margin-top: 10px;
}

#contenedor {
  background: url(../image/pexels-raine-nectar-413274.jpg) no-repeat center;
  background-size: cover;
  min-height: 35vh;
  color: white; }

#introduccion {
  background-color: transparent !important; }

.card-hotel {
  flex: 1 300px;
  margin-top: 10px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.tab-content {
  padding-top: 10px; }
